.catalog__category__content {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}

#catalog__controls {
    margin: 5px;
    padding: 5px;
}

.catalog__entry {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.catalog__entry__name {
    flex: 0 1 auto;
}

.catalog__entry__properties {
    flex: 0 0 auto;
    margin-left: auto;
}

.course {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}

.course--year {
    height: calc(100% - 10px);
    height: -moz-calc(100% - 10px);
    height: -webkit-calc(100% - 10px);
}

/* TODO: Replace this with something that doesn't make the boxes squeeze */
/* .course--semester {
    height: calc(50% - 7.5px);
    height: -moz-calc(50% - 7.5px);
    height: -webkit-calc(50% - 7.5px);
} */

.course--ap {
    border: 2px solid purple;
}

.course--post-ap {
    border: 2px solid green;
}

.course__status {
    float: left;
    margin-right: 5px;
}

td.grid__box {
    width: 25%;
    height: 11%;
    margin: 5px;
    border: 1px solid black;
 }
