.catalog__category__content {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}

.catalog__entry {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.catalog__entry__name {
    flex: 0 1 auto;
}

.catalog__entry__properties {
    flex: 0 0 auto;
    margin-left: auto;
}

.course {
    border: 1px solid black;
    font-size: smaller; /* TODO It should grow back to normal size if there's enough space */
}

.course--year {
    height: 100%;
}

.course--semester:not(:only-of-type) {
    height: 50%
}

td.grid__box > .course--semester:nth-last-of-type(2) {
    margin-bottom: -1px;
}

td.grid__box > .course--semester:nth-of-type(2) {
    margin-top: -1px;
}

/* TODO: These really shouldn't have to be marked as important, and as soon as I figure out why precedence isn't working I'll fix it. */

td.grid__box > .course--semester.course--ap:nth-last-of-type(2), .course--semester.course--post-ap:nth-last-of-type(2) {
    margin-bottom: -2px !important;
}

td.grid__box > .course--semester.course--ap:nth-of-type(2), .course--semester.course--post-ap:nth-of-type(2) {
    margin-top: -2px !important;
}

.course--ap {
    border: 2px solid purple;
}

.course--post-ap {
    border: 2px solid green;
}

.course__status {
    float: left;
    margin-right: 5px;
}

td.grid__box {
    width: 25%;
    height: 11%;
    border: 1px solid black;
 }
