<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TJ Four Year Planner</title>
    <meta property="og:title" content="TJ Four Year Planner"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://4yearplan.sites.tjhsst.edu/"/>
    <meta property="og:image" content="https://4yearplan.sites.tjhsst.edu/static/img/preview.jpg"/>
    <meta property="og:description" content="A tool for planning and validating course schedules at TJHSST"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='icon/site.webmanifest') }}">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/26b88357dc.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</head>

<body>
    <div class="container-fluid d-flex flex-column" style="height:calc(100vh - 9px);">
        <div class="row">
            <h1 class="m-auto p-2" style="text-align: center">TJ Four Year Planner</h1>
        </div>
        <div class="row"><p class="m-auto">By Daniel Fu | version <a href="{{ version_url }}">{{ version }}</a> | <a href="#helpModal" data-toggle="modal" data-target="#helpModal">How to use</a></p></div>
        <div class="row" style="height:calc(100% - 88px)"> <!--Irritatingly, flex seems to refuse to work on these, so I'll just have to force their heights.-->
            <div id="catalog__sidebar" class="col-md-3 h-100 d-flex flex-column align-items-stretch" ondragover="allowDrop(event)"
                ondrop="toss(event)">
                <h2 class="m-auto p-2">Courses:</h2>
                <div id="catalog__controls" class="m-1">
                    <div class="input-group m-1">
                        <input id="search-box" type="text" class="form-control" placeholder="Enter name of course..." aria-label="Search terms">
                        <div class="input-group-append">
                          <button class="btn btn-outline-primary" type="button" onclick="onSearch()">Search</button>
                        </div>
                    </div>
                    <button type="button" class="btn btn-outline-primary m-1 btn-block" onclick="clearFilter()">Clear filters</button>
                    <div class="btn-group m-1 btn-block">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Jump to
                        </button>
                        <div class="dropdown-menu btn-block">
                            {% for category in categories %}
                            {% set cat_id = kebab(category) %}
                            <a class="dropdown-item" href="#{{cat_id}}">{{category}}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <span id="filter-status" class="m-1">Not filtering</span>
                </div>
                <div id="catalog" class="m-2 p-1 border overflow-auto accordion">
                    {% for category, course_list in categorized %}
                    <h3 id="{{kebab(category)}}">{{category}}</h3>
                        {% for course in course_list %}
                            <div id="entry-{{course.id}}" class="catalog__entry {{course.ap_class}} {{course.category_class}}" draggable="true" ondragstart="dragStart(event)" data-course-id="{{course.id}}">
                                <div class="catalog__entry__header d-flex flex-row">
                                    <div class="catalog__entry__name">
                                        {{course.full_name}}
                                        <a data-toggle="collapse" href="#desc-{{course.id}}" role="button" aria-expanded="false" aria-controls="desc-{{course.id}}"><i class="fas fa-caret-down fa-lg"></i></a>
                                    </div>
                                    <div class="catalog__entry__properties">
                                        {% if course.summer %}
                                            <abbr title="This course can be taken in summer school."><i class="fas fa-sun"></i></abbr>
                                        {% endif %}
                                        {% if course.skiptest %}
                                            <abbr title="You can take a test to skip the prerequisites of this course."><i class="fas fa-clipboard-list-alt"></i></abbr>
                                        {% endif %}
                                        {% if course.approval %}
                                            <abbr title="You can skip to this course with teacher approval."><i class="fas fa-eye"></i></abbr>
                                        {% endif %}
                                        {% if course.online and not course.online_only %}
                                            <abbr title="This course can be taken online."><i class="fas fa-desktop"></i></abbr>
                                        {% endif %}
                                        {% if course.online_only %}
                                            <abbr title="This course is only offered online."><i class="fas fa-wifi"></i></abbr>
                                        {% endif %}
                                        {% if course.equivalent != course.id %}
                                            {% set other_course = courses.get(course.equivalent|string) %}
                                            <abbr title="This course counts as ({{ other_course.num }}) {{ other_course.full_name }} "><i class="fas fa-exchange-alt"></i></abbr>
                                        {% endif %}
                                        {% if course.semester %}
                                            <abbr title="This is a semester course and will last half a year."><i class="fas fa-adjust"></i></abbr>
                                        {% endif %}
                                    </div>
                                </div>
                                <div id="desc-{{course.id}}" class="catalog__entry__description collapse" data-parent="#catalog">
                                    <p><em>{{ course.num }}</em></p>
                                    <p><strong>Prerequisites:</strong> {% if course.prereq_string|length > 0 %} {{ course.prereq_string }} {% else %} None {% endif %}</p>
                                    <p><strong>Offered:</strong> {{ course.grades|join(', ') }}</p>
                                    <p><strong>Description:</strong> {{ course.description }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#msModal">
                    Enter middle school courses...
                </button>
                <div class="w-100 d-flex flex-row py-2">
                    <button class="btn btn-primary flex-fill mr-1" type="button" data-toggle="collapse" data-target="#row--summer" aria-expanded="false" aria-controls="row--summer">
                        Show/hide summer
                    </button>
                    <button class="btn btn-primary flex-fill ml-1" type="button" data-toggle="collapse" data-target="#row--online" aria-expanded="false" aria-controls="row--online">
                        Show/hide online
                    </button>
                </div>
            </div>
            <div class="col-lg-5 col-md-9 col-12 h-100 p-2">
                <table id="grid" class="m-2 h-100 w-100" style="flex: 1 0 auto; table-layout:fixed; border-bottom: solid 1px black;">
                    <tr id="grid__header" style="height: fit-content">
                        <th>Freshman</th>
                        <th>Sophomore</th>
                        <th>Junior</th>
                        <th>Senior</th>
                    </tr>
                    <tr id="row--summer" class="grid__row collapse">
                        {% for column in range(4) %}
                        <td class="grid__box p-1 grid__box--summer" ondrop="drop(event)" ondragover="allowDrop(event)"
                            id="cell-s-{{loop.index}}">
                            <div class="m-auto grid__hint text-secondary">Summer</div>
                        </td>
                        {% endfor %}
                    </tr>
                    {% for row in range(7) %}
                    {% set row_num = loop.index %}
                    <tr class="grid__row">
                        {% for column in range(4) %}
                        <td class="grid__box p-1" ondrop="drop(event)" ondragover="allowDrop(event)"
                            id="cell-{{row_num}}-{{loop.index}}">
                            {% if row_num == 5 and loop.index == 4 %}
                            <div id="lab_placeholder" class="course p-1 course--year">Senior Research Lab</div>
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    
                    <tr id="row--online" class="grid__row collapse">
                        {% for column in range(4) %}
                        <td class="grid__box p-1 grid__box--online" ondrop="drop(event)" ondragover="allowDrop(event)"
                            id="cell-o-{{loop.index}}">
                            <div class="m-auto grid__hint text-secondary">Online</div>
                        </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
            <div class="col-lg-4 h-100 d-flex flex-column">
                <h2 class="m-auto p-2">Senior labs:</h2>
                <div class="m-auto">
                        Mentorship?
                        <input type="checkbox" class="form-check form-check-inline" id="mentorshipCheck" onchange="updateMentorship()">
                </div>
                <div class="overflow-auto">
                    <table id="lab-list" class="table table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for lab in labs %}
                            <tr id="labs__{{lab}}" class="labs__row">
                                <td>
                                    {{ labs[lab].full_name }}
                                    <a data-toggle="collapse" href="#desc-{{lab}}" role="button" aria-expanded="false" aria-controls="desc-{{lab}}"><i class="fas fa-caret-down fa-lg"></i></a>
                                    <div id="desc-{{lab}}" class="catalog__entry__description collapse" data-parent="#lab-list">
                                        <p><em>{{ labs[lab].num }}</em></p>
                                        <p><strong>Prerequisites:</strong> <!--TODO: Make prerequisites string include indication of coreq status-->
                                            {% if labs[lab].prereqs %}
                                                {% for prereq in labs[lab].prereqs %}
                                                    {% for course_id in prereq %}
                                                        {% set course = courses[course_id.replace("C", "")] %}
                                                        {% if not loop.last %}
                                                            {{ course.short_name }}, 
                                                        {% else %}
                                                            {{ course.short_name }}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if not loop.last %}
                                                        or
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                None
                                            {% endif %}
                                        </p>
                                        <p><strong>Recommended:</strong> 
                                            {% if labs[lab].recommended %}
                                                {% for rec in labs[lab].recommended %}
                                                    {% for i in rec %}
                                                        {% set course = courses[i] %}
                                                        {% if not loop.last %}
                                                            {{ course.short_name }}, 
                                                        {% else %}
                                                            {{ course.short_name }}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if not loop.last %}
                                                        or
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                None
                                            {% endif %}
                                        </p>
                                        <p><strong>Description:</strong> {{ labs[lab].description }}</p>
                                    </div>
                                </td>
                                <td class="labs__status">Loading...</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <h2 class="m-auto p-2">Graduation requirements:</h2>
                <div class="flex-shrink-0 d-flex flex-row flex-wrap overflow-auto">
                    {% for name, text, num in requirements %}
                    <div id="grad-{{name}}" class="grad-requirement m-1 border rounded flex-fill d-flex align-items-center">
                        <span class="m-1">
                            {{text}}:
                            {% for _ in range(num) %}
                                <i class="far fa-square fa-lg"></i>
                            {% endfor %}
                        </span>
                    </div>
                    {% endfor %}
                </div>
                <div class="w-100 d-flex flex-row py-2">
                    <button class="btn btn-primary flex-fill mr-1" type="button" data-toggle="modal" data-target="#exportModal" aria-expanded="false" aria-controls="exportModal">
                        Export
                    </button>
                    <button class="btn btn-primary flex-fill ml-1" type="button" data-toggle="modal" data-target="#saveModal" aria-expanded="false" aria-controls="saveModal">
                        Save/Load
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="msModal" tabindex="-1" role="dialog" aria-labelledby="msModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="msModalLabel">Enter courses from middle school:</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-4" for="ms-math">Highest math:</label>
                    <select class="form-control col-sm-8" id="ms-math" onchange="onUpdate()">
                        <option value="0">Algebra 1</option>
                        <option value="2">Geometry (TJ Math 1/2 equivalent)</option>
                        <option value="3">Algebra 2 (TJ Math 3 equivalent)</option>
                        <option value="4">Trigonometry (TJ Math 4 equivalent)</option>
                        <option value="5">Precalculus (TJ Math 5 equivalent)</option>
                        <option value="6">Calculus</option>
                    </select>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4" for="ms-lang">Language:</label>
                    <select class="form-control col-sm-6" id="ms-lang" onchange="onUpdate()">
                        <option value="none">None</option>
                        {% for language in info["languages"] %}
                        <option value="{{ language.lower() }}">{{ language }}</option>
                        {% endfor %}
                    </select>
                    <select class="form-control col-sm-2" id="ms-lang-level" onchange="onUpdate()">
                        <option hidden disabled selected value="0">-</option>
                        {% for x in range(1,4) %}
                        <option value="{{x}}">{{x}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6" for="ms-epf">Did you take EPF?</label>
                    <div class="btn-group btn-group-toggle col-sm-6" data-toggle="buttons">
                        <label class="btn btn-outline-secondary">
                          <input type="radio" name="options" id="ms-epf-yes" autocomplete="off" onchange="onUpdate()"> Yes
                        </label>
                        <label class="btn btn-outline-secondary active">
                          <input type="radio" name="options" id="ms-epf-no" autocomplete="off" checked onchange="onUpdate()"> No
                        </label>
                      </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="onUpdate()">Save changes</button>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="saveModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="saveModalLabel">Save/Load</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea class="form-control" id="save-area" style="word-break: break-all" lines=6></textarea>
                    <div class="d-flex flex-row my-2">
                        <button class="btn btn-success flex-fill mr-1" onclick="saveToClip()">
                            Copy
                        </button>
                        <button class="btn btn-secondary flex-fill mx-1" onclick="saveToBox()">
                            Save
                        </button>
                        <button class="btn btn-primary flex-fill mx-1" onclick="loadFromBox()">
                            Load
                        </button>
                        <button class="btn btn-success flex-fill ml-1" onclick="loadFromClip()">
                            Paste
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exportModalLabel">Export Schedule</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea class="form-control" id="export-area" rows=10 readonly></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="msModalLabel">How to use:</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p><strong>Notice: THIS IS AN UNOFFICIAL PLANNER!</strong> It is not endorsed or verified by Thomas Jefferson High School or FCPS, and is provided as-is. Check with your counselor for any questions. There may be bugs - please don't sue me.</p>
                <h5>Courses</h5>
                <p>Drag courses from the list on the right into the grid. To delete a course, drag it from the grid back to the list. Hover over any symbol for details.</p>
                <p>Semester (half-year) courses are marked by being half as tall as a normal one. You can fit two semester courses in one box.</p>
                <p>Click the "Enter middle school courses..." button to record middle school courses you have taken that are eligable for credit in high school. (That means math and world languages.)</p>
                <p>Click the "Show/hide summer" and "Show/hide online" buttons to display rows corresponding to the one period of summer classes and one online class you are allowed to take each year. Note that, for example, "Freshman Summer" refers to the summer before freshman year</p>
                <p>Borders indicate whether the course is an AP (<b style="color: purple;">purple</b>) or post-AP (<b style="color: green">green</b>)</p>
                <h5>Required Courses</h5>
                <p>The courses already in the grid (English 9/10/11, Biology 1, World History 2, Design and Tech, AP Gov, and Geosystems) are required and need to be where they are. In addition, there's four places where you have a choice of which course to take:</p>
                <ul>
                    <li><b>Chemistry</b> - Either take Chemistry 1 in 10th grade or take Chemistry 1 in summer before sophomore year and take AP Chemistry in 10th</li>
                    <li><b>US History</b> - Either take VA/US History or AP US History</li>
                    <li><b>Physics</b> - Either take Physics 1 or AP Physics. If you take Physics 1, you're allowed to take AP Physics in senior year. AP Physics has BC Calculus as a corequisite (it's recorded as a prerequisite in this app because I haven't implemented corequisites yet)</li>
                    <li><b>AP English</b> - Choose from AP English Literature or AP English Language.</li>
                </ul>
                <p>Note that there's teaming options for all of these (IBET in 9th grade, CHUM and GHUM in 10th, HUM in 11th, Senior Seminar and Global Studies in 12th) but I have not included these because they have no effect on prerequisites.</p>
                <p>(The search feature is a bit laggy, I'm working on this.)</p>
                <h5>Research Labs</h5>
                <p>Every TJ student is required to take one research lab in 12th grade, this period has already been marked</p>
                <p>Research lab availability is displayed as "Qualified" if you have met the requirements, and "Recommended" if you have taken the recommended courses for that lab, as listed <a href="https://tjhsst.fcps.edu/node/2761">here</a>. Make sure you qualify for the lab you want!</p>
                <p>(Energy Systems and Astronomy have no prerequisites, so are always available.)</p>
                <h5>Graduation Requirements</h5>
                <p>This isn't a list of all the graduation requirements, I'm not listing the ones covered by the required courses (such as 4 years of English or 4 years of science).</p>
                <p><b>4 Math credits</b> - Not including Algebra 1, so this basically means you take Calculus, either AB or B.C</p>
                <p><b>Fourth history credit</b> - FCPS requires four history courses through four years of high school; Design and Tech replaces the history course in freshman year, so a fourth history course has to be taken in one of your elective slots. This <strong>cannot be an AP course</strong>. Ancient Civilizations (possibly over the summer) is a popular choice.</p>
                <p><b>3 years of a language</b> - FCPS allows for 2 years of 2 languages but <strong>TJ does not</strong>. Middle school years count!</p>
                <p><b>2 PE credits</b> - This means Health and PE 9 and 10, usually taken in (duh) 9th and 10th grade, but both are available over the summer.</p>
                <p><b>Economics</b> - Usually fulfilled with the Economics and Personal Finance course (available online, over the summer, and self-directed). The self-directed course is a popular choice (it's literally just a couple of slideshows with an easy quiz at the end) and AP Macro/Micro also fills this requirement.</p>
                <p><b>RS1 must be first Math class</b> - You can take it summer before 9th to get it out of the way.</p>
                <p><b>CS must be taken before 11th grade</b> - Most people will take Foundations or Accelerated Foundations (possibly over the summer) but if you test out of Foundations, you still need to do APCS before 11th grade. (That means summer before 11th is the last time you can do it.)</p>
                <h5>Who made this?</h5>
                <p>Hi, I'm Daniel Fu, TJHSST class of 2021. I made this in Spring 2020 to help incoming students navigate the tangle of prerequisites and graduation requirements at TJ. (read: I got tired of answering my little sister's questions about course requirements for two hours and said "you know what, this could be handled with a couple lines of javascript.")</p>
                <h5>I found a bug/have a feature request!</h5>
                <p><a href="https://github.com/greenturtle1134/tj-planner/issues/">Submit an issue on Github</a>, email me at <a href="mailto:daniel.y.fu@gmail.com">daniel.y.fu@gmail.com</a>, or <a href="https://www.facebook.com/daniel.fu.395669">bother me on Facebook</a> (or comment on the post). Please check the <a href="https://github.com/greenturtle1134/tj-planner/issues/">issue list</a> to make sure you aren't reporting something already reported first. Or, if you feel enterprising, fork <a href="https://github.com/greenturtle1134/tj-planner">the repo</a> and fix it yourself.</p>
                <h5>Your data is wrong!</h5>
                <p>To report course data being wrong, use the <a href="https://github.com/greenturtle1134/tj-planner/issues/new?assignees=&labels=data&template=data-inaccuracy.md&title=%5BDATA%5D">Issue Template for Data Inaccuracies</a>. Again, check the issue list first to make sure you aren't re-reporting. (Or use any of the other channels listed above)</p>
                <h5>The boxes stretch weirdly when I drag a semester course in.</h5>
                <p>CSS woes, I'm working on it.</p>
                <h5>Does it work on mobile?</h5>
                <p>It's designed as a desktop app, but I've done a bit to make it look reasonable on mobile. There may be weird visual stuff.</p>
                <h5>Does it work on IE?</h5>
                <p>I have no idea.</p>
                <h5>What's it running on?</h5>
                <p>Python, Flask, Javascript, Coffeescript, jQuery, and Bootstrap</p>
                <h5>Credits</h5>
                <p>I would like to thank:</p>
                <ul>
                    <li>my little sister, for having a four year plan convoluted enough to make me write this</li>
                </ul>
            </div>
          </div>
        </div>
    </div>
</body>

</html>
