<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Four Year Planner</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="/static/js/course_catalog.js"></script>
    <script src="/static/js/interactivity.js"></script>
</head>
<body>
<nav>
    Navigation bar goes here.
</nav>
<header style="text-align: center;">
    <h1>TJ Four Year Planner</h1>
</header>
<div style="height: 75vh">
    <div id="catalog_sidebar" style="float: left; width: 15vw; height: 100%; display: flex; flex-direction: column">
        <p>Courses:</p>
        <div id="catalog" style="overflow: scroll; flex: auto;"></div>
    </div>
    <table id="grid" style="height:100%">
        <tr id="grid__header">
            <th>Freshman</th>
            <th>Sophomore</th>
            <th>Junior</th>
            <th>Senior</th>
        </tr>
        <tr class="grid__row">
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)">
                <div class="course course--year" draggable="true" ondragstart="drag(event)" id="c1">
                    Sample course 1
                </div>
            </td>
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)">
                <div class="course course--year" draggable="true" ondragstart="drag(event)" id="c2">
                    Sample course 2
                </div>
            </td>
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)">
                <div class="course course--semester" draggable="true" ondragstart="drag(event)" id="c3">
                    Sample course 3
                </div>
                <div class="course course--semester" draggable="true" ondragstart="drag(event)" id="c4">
                    Sample course 4
                </div>
            </td>
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)">
                <div class="course course--semester" draggable="true" ondragstart="drag(event)" id="c5">
                    Sample course 5
                </div>
                <div class="course course--semester" draggable="true" ondragstart="drag(event)" id="c6">
                    Sample course 6
                </div>
            </td>
        </tr>

        <tr class="grid__row">
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
        </tr>
        <tr class="grid__row">
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
        </tr>
        <tr class="grid__row">
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
        </tr>
        <tr class="grid__row">
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
        </tr>
        <tr class="grid__row">
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
        </tr>
        <tr class="grid__row">
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
        </tr>
        <tr>
            <td>Summer:</td>
        </tr>
        <tr class="grid__row">
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="grid__box" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
        </tr>
    </table>
</div>
<footer></footer>
</body>
</html>